:root {
  --bottom-nav-height: 60px;
}

#bottom-nav {
  background-color: var(--secondary);
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: var(--bottom-nav-height);
  justify-content: space-evenly;
  left: 0;
  margin-top: auto;
  position: fixed;
  overflow: hidden;
  right: 0;
  width: 100%;
  transition: none;
  z-index: 1;
}

#bottom-nav a {
  align-items: center;
  color: var(--text);
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

#bottom-nav a:hover {
  background-color: var(--secondary-hover);
}

#bottom-nav a:active {
  background-color: var(--secondary-press);
}

#bottom-nav .avatar {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

#bottom-nav i {
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  #bottom-nav {
    display: none;
  }
}
